
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.is-slider {
  font-family: 'Open Sans', sans-serif;
}

/* TODO:
    - Rewrite this in Sass
    - Set variables to easily customize it
    - Slider should fill container
    - Images should fill slider
*/

/* Containers */
.hero .box {
  margin: 3% auto;
  width: 65%;
  box-shadow: none;
  border-radius: 0;
}

.is-slider {
  position: relative;
  height: 500px;
  border: 1px solid rgb(112,122,122,0.9);
  overflow: hidden;
  user-select: none;
}

.inner {
  position: absolute;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0%;
}


/* Images */
.inner img {
  min-width: 100%;
  height: 500px;
}

.image-selector {
  position: absolute;
  display: flex;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  justify-content: center;
}

.count {
  position: absolute;
  z-index: 3;
  top: 8%;
  right: 5%;
  transform: translateX(-50%);
  font-size: 28px;
  color: rgba(255,255,255,0.95);
  text-shadow:
   -1px -1px 0 #333,  
    1px -1px 0 #333,
    -1px 1px 0 #333,
     1px 1px 0 #333;
  text-align: center;
  line-height: 32px;
  opacity: 0.8;
}

/* Selection */
.bubble {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: rgba(210,210,210,0.5);
  border: 1px solid #333;
  border-radius: 50%;
}

.left-arrow {
  /* display: block; */
  position: absolute;
  z-index: 3;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  left: 5%;
}

.right-arrow {
  /* display: block; */
  position: absolute;
  z-index: 3;
  right: 5%;
}

.arrow {
  width: 42px;
  height: 42px;
  top: 50%;
  fill-opacity: .5;
  fill:#fff;
  stroke-width: 2.5;
  stroke:#333;
}

.autoplay {
  position: absolute;
  right: 4.5%;
  bottom: 8%;
  z-index: 3;
  height: 52px;
  width: 52px;
  padding: 5px;
}

.autoplay path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.5;
  stroke: #333;
  fill: #333;
  fill-opacity: .8;
}

.autoplay circle {
  stroke-miterlimit: 2.5;
  stroke-width: 2.5;
  stroke: #333; 
  fill: #fff;
  fill-opacity: .5;
}


/* Fixes sticky hover on mobile (Lv 4 Media Query) */
@media (hover:hover) {
    .bubble:hover {
      background-color: rgba(255,255,255,0.75);
      cursor: pointer;
    }

    .arrow:hover path, .arrow:hover {
      fill-opacity: .75;
      cursor: pointer;
    }
    
    .autoplay:hover circle, .autoplay:hover path {
      fill-opacity: .75;
      cursor: pointer;
    }
}

.bubble-active {
  background-color: rgba(255,255,255,0.75);
}

.bubble-wrapper {
  margin: 0 5px;
  padding: 8px;
}

/* Breakpoints */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1220px) {
  .hero .box {
    width: 85%;
  }
  .is-slider {
    height: 350px;
    margin: -1%;
  }
  
  .inner img {
    max-height: 350px;
  }
  
  .image-selector {
    top: 80%;
  }
  
  .bubble-wrapper {
    margin: 0 10px;
  }
  
  .arrow {
    top: 45%;
  }
  
  .count {
    right: 5.5%;
  }
}

/* Mobile rotated */
@media screen and (min-width: 425px) and (max-width: 768px) {
  .hero .box {
    width: 90%;
  }
  
  .is-slider {
    height: 225px;
    margin: -2%;
  }
  
  .inner img {
    height: 225px;
  }
  
  .image-selector {
    top: 75%;
  }
  
  .bubble-wrapper {
    margin: 0 10px;
  }
  
  .arrow {
    top: 40%;
  }

  .count {
    right: 6%;
  }
  
}

/* Super small mobile */
@media screen and (max-width: 425px) {
  .hero .box {
    width: 95%;
  }
  
  .is-slider {
    height: 170px;
    margin: -5%;
  }
  
  .inner img {
    height: 170px;
  }
  
  .image-selector {
    top: 65%;
  }
  
  .bubble-wrapper {
    margin: 0 5px;
  }

  .arrow {
    width: 32px;
    height: 32px;
    top: 42%;
  }

  .autoplay {
    width: 40px;
    height: 40px;
  }

  .count {
    font-size: 16px;
    right: 7%;
  }
  
}